*{
    padding: 0;
    margin: 0;
}
.header{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: start;
    padding: 5px;
    text-align: center;
    height: 100vh;
}
.header-content{
    width: 100%;
    max-width: 1000px;
}
.header-content h1{
    font-size: clamp(1.875rem, 0.3125rem + 5vw, 3.125rem);
    text-transform: uppercase;
    word-spacing: 5px;
}

@media screen and (max-width: 1170px){
    .header{
        padding: 20px;

    }
    .header-image{
        display: none;
    }
    
}
@media screen and (max-width: 1080px){
    
    .header{
        height: 70vh;
    }
    
}
.header-image{
    width: 100%;
    max-width: 500px;
    margin: 10px 20px;
}
.header-image img{
    width: 100%;
    max-width: 500px;
}
.dif{
    color: #0e7490;
}