*{
    padding: 0;
    margin: 0;
}
.header{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: start;
    padding: 5px;
    height: 60vh;
}
.header-content{
    width: 100%;
    max-width: 600px;
}
@media screen and (max-width: 1170px){
    .header{
        padding: 20px;
    }
    .header-image{
        display: none;
    }
    
}
.header-image{
    width: 100%;
    max-width: 500px;
    margin: 10px 20px;
}
.header-image img{
    width: 100%;
    max-width: 500px;
}
.po{
    color: #0e7490;
}