
.footer{
    border-radius: 0 !important;
    padding: 20px;
  }
  

  .facebook:hover{
    transform: translateY(-10px);
    transition: 1s;
  }


  .insta:hover{
    transform: translateY(-10px);
    transition: 1s;
  }
  